body{
  font-family: 'Lora', serif;
  background: url("../images/10.jpg");
  color:rgb(32, 32, 32);
  background-size: cover;
}

#loader {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center; 
}

.contain {
  width: 50%;
  margin: auto;  
  color:black;
  padding:0;
  background: rgb(228, 228, 235,0.7);
  border-radius: 10px;
  text-align:center;
  font-size:20px;
  font-family: 'Lora', serif;
  background-repeat: no-repeat;
}

.font{
  color:black;
}

h1{
  text-align:center;
  margin-top:20px;
  padding-top:20px;
}
/****BUTTON Edit***/
.btn{
  width:70%;
  height:40px;
  margin:10px;
  background:rgb(129, 74, 129);
  border:none;
  outline:none;
  transition: all 0.5s;
  cursor: pointer;
  border-radius:10px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
  
.button:hover span {
  padding-left: 25px;
}
  
.button:hover span:after {
  opacity: 1;
  left: 0;
}

.form_button{
  width: fit-content;
  margin: auto;
  color:black;
}
/**********MEDIA QUERIES******************/
@media screen and (max-width:1500px){
  h1{
    font-size:23px;
  }
  .contain{
    font-size:17px;
    width:60%;
  }
  .btn{
    width:80%;
    margin-top:5px;
    margin-bottom:20px;
  }
}
@media screen and (max-width:800px){
  h1{
    font-size:23px;
  }
  .contain{
    font-size:17px;
    width:80%;
  }
}

@media screen and (max-width:500px){
  h1{
    font-size:18px;
  }
  .contain{
    font-size:15px;
  }
  p{
    padding-left:10px;
    padding-right:10px;
  }
}

@media screen and (max-width: 768px) {

  .contain {
    width: 80%;
  }

}

