body{
  padding:0;
  margin:0;
  font-family: 'Lora', serif;
}

input {
  opacity: 0.9;
}

input:valid {
  opacity: 0.9;
}

.email:invalid {
  opacity: 0.9;
  border: 1.5px solid rgb(250, 84, 84);
  animation-name: glow;
  animation-duration: 0.6s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes glow {
  50% {background-color: rgb(252, 212, 212);}
}

.container {
  background:rgb(219, 198, 152);
  width:25%;
  margin-top:40px;
  margin-left:30px;
  height:80vh;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  background:rgba(46, 45, 45, 0.5);
  position: fixed;
  font-size:18px;
  font-family: 'Lora', serif;
}
/***FORM INPUT AREA*****/
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: vertical;
  display:flex;
  font-family: 'Lora', serif;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: vertical;
  display:flex;
  font-family: 'Lora', serif;
}

input[type=submit]:hover {
  background-color: #9c8a6d;
}

/*DATE input edit*/
input[type=date], select{
 
  outline:none;
  width: 52%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: vertical;
  display:flex;
  font-family: 'Lora', serif;
}

label{
  color:rgb(236, 230, 230);
  padding-top:20px;
}

/****button edit****/
.btn{  
  background:linear-gradient(to left, rgb(89, 152, 211),rgb(87, 55, 87));
  width:100%;
  height:40px;
  border-radius: 4px;
  margin:auto;
  cursor: pointer;
  outline:none;
  border:none;
  transition: all 0.5s;
  color:rgb(240, 229, 229);
  font-size:18px;
  font-family: 'Lora', serif;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn:hover{
  background:linear-gradient(to left, rgb(95, 62, 95),rgb(112, 159, 187));
}

.btn:active{
  transform: translateY(4px);
}

/***video*/
.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100vh;
}

/************************MEDIA QUERIES*****************/

/*Form*/

@media screen and (max-width:1024px){
  input[type=text], select, textarea {
    padding:5px;
    margin-top:5px;
    font-size:13px;
  }
  input[type=email], select, textarea {
    padding:5px;
    margin-top:5px;
    font-size:13px;
  }
  input[type=date], select{
    padding:5px;
    width:100%;
    margin-top:5px;
    font-size:13px;
  }
  .btn{
    height:30px;
  }
  label{
    font-size:15px;
  }
  form{
    margin-top:10px;
  }
}

@media screen and (max-width:768px){
  .container {
    height: max-content;
    width: 40%;
    margin-top: 20px;
  }

  input[type=text], select, textarea {
    padding:5px;
    margin-top:10px;
    font-size:13px
  }

  input[type=email], select, textarea {
    padding:5px;
    margin-top:10px;
    font-size:13px
  }
  input[type=date], select{
    padding:3px;
    width:100%;
    margin-top:10px;
    font-size:13px;
  }
  .btn{
    height:30px;
  }
  form{
    margin-top:30px;
  }
  video{
    visibility: hidden;
  }
  body{
    background-image:url("../images/3.gif");
    background-size: cover;
    height:100vh;
    width:100%;
  }
  label{
    font-size:16px;
  }
  form{
    margin-top:10px;
  }
}

@media screen and (max-width:720px){
  .container{
    width:100%;
    margin:0;
    height:100vh;
    padding:0;
    text-align:center;
  }
  
  input[type=text], select, textarea {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
  }

  input[type=email], select, textarea {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
  }
  input[type=date], select{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
  }
  .btn{
    width:50%;
  }
  body{
    background-image:url("../images/7.jpg");
    background-size: cover;
    height:100vh;
    width:100%;
  }
  video{
    display:none;
  }
  form{
    margin-top:30px;
  }
  .btn{
    margin-top:20px;
  }
}


